<div class="container">
  <div class="row">
<!-- Filteration -->
    <div class="col-md-3">
      <div class="accordion mt-3" id="filterAccordion">
        <h2 style="text-align: center;">Filters</h2>
        <!-- Date Filter -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Date
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#filterAccordion">
            <div class="accordion-body">
              <div *ngFor="let date of dates">
                <input type="checkbox" [value]="date" [checked]="isDateSelected(date)" (change)="onDateChange(date, $event.target.checked)"> {{date}}
              </div>
            </div>
          </div>
        </div>
        <!-- Location Filter -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Location
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#filterAccordion">
          <div class="accordion-body">
            <div *ngFor="let location of locations">
              <input type="checkbox" [value]="location"  [checked]="isLocationSelected(location)"(change)="onLocationChange(location, $event.target.checked)"> {{location}}
            </div>
          </div>
        </div>
      </div>
        
         <!-- Price Filter  -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Price
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#filterAccordion">
              <div class="accordion-body">
                <div *ngFor="let price of prices">
                  <input type="checkbox" [value]="price" [checked]="isPriceSelected(price)"(change)="onPriceChange(price, $event.target.checked)"> {{price}}
                </div>
              </div>
            </div> 
          </div>   
           <!-- mode Filter  -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Mode
            </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#filterAccordion">
              <div class="accordion-body">
                <div *ngFor="let mode of modes">
                  <input type="checkbox" [value]="mode" [checked]="isModeSelected(mode)"(change)="onModeChange(mode, $event.target.checked)"> {{mode}}
                </div>
              </div>
            </div> 
          </div>           
        <div class="button-container">
          <button type="button" style="margin-right: 10px;" (click)="applyFilters()">Apply Filters</button> 
          <button type="button" (click)="clearFilters()">Clear Filters</button>
      </div>
      </div>
      </div>
      <!-- Cards -->

<div class="col-md-9">
  <div class="row">
   <div class="col-md-4"  *ngFor="let workshops of filteredWorkshops">
     <div class="card mb-3" style="width: 100%;height: 560px;" >
       <img src="../../assets/{{workshops.name}}.jpg" class="card-img-top" style="height: 200px;" alt="...">
       <div class="card-body" text-center>
         <b>{{ workshops.name }}</b><br>
         <div>
             <img src="../../assets/calendar_month_FILL0_wght400_GRAD0_opsz48.png" width="22" height="22">
             <span><b>Date: </b>{{ workshops.datetime }}</span>
         </div>
         <div>
          <img src="../../assets/calendar_month_FILL0_wght400_GRAD0_opsz48.png" width="22" height="22">
          <span><b>Mode: </b>{{ workshops.mode }}</span>
      </div>
         <div>
             <img src="../../assets/location_on_FILL0_wght400_GRAD0_opsz48.png" width="22" height="22">
             <span><b>Location: </b>{{ workshops.location }}</span>
         </div>
         <div>
             <img src="../../assets/payments_FILL0_wght400_GRAD0_opsz48.png" width="22" height="22">
             <span><b>Price: </b>{{ workshops.price }}</span>
         </div>
         <p class="card-text" style="font-size: small;">{{ workshops.description }}</p>
         <button type="submit" class="btn btn-primary" (click)="openModal(workshops)">Reserve Spot</button>
       </div>
     </div>
   </div>
   <div class="col-md-12 text-center" *ngIf="filteredWorkshops.length === 0">
    <h2><b>No result found</b></h2>
  </div>
 </div>
 </div>
</div>
</div>

<!-- Registration -->

<div class="modal" id="exampleModal" tabindex="-1" [ngStyle]="{'display':display}">
  <div class="modal-dialog" >
  <div class="modal-content" *ngIf="!issubmitted">
    <div class="modal-body">
      <div class="containerTwo">
        <span style="font-size:x-large;">Registration Form</span>
        <button style="margin-left: 50%;" type="button" class="btn-close" (click)="onCloseHandled()"></button>
       
        <form [formGroup]="regForm" (ngSubmit)="submitForm()">
        <div formGroupName="formData">
          {{ curr_cl?.name }}
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name" required>
            <div class="text-danger" *ngIf="isControlInvalid(regForm, 'formData.name')">
              Name is required.
            </div>
          </div>
     
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" required>
            <div  class="text-danger" *ngIf="isControlInvalid(regForm, 'formData.email')">
              Please enter a valid email.
            </div>
          </div>
     
          <div class="form-group">
            <label for="contact">Contact Number</label>
            <input type="tel" class="form-control" id="contact" formControlName="contact" required>
            <div  class="text-danger" *ngIf="isControlInvalid(regForm, 'formData.contact')">
              Please enter a valid contact number.
            </div>
          </div>
          <hr>
          <div class="form-group">
            <span>Seats: <input type="number" [(ngModel)]="seats" id="seats" formControlName="seats" style="width: 10%;" min=1 max=10 required>
            Fees per seat: {{ curr_cl?.price }}
            <button type="button" (click)="calc_fees()">Calculate</button>
          </span>
          </div>
          <div  class="text-danger" *ngIf="isControlInvalid(regForm, 'formData.seats')">
            Enter a Valid Count
          </div>
          <br>
          Total booking fee: Rs.{{ total_fees }}/-
          <div style="text-align: center; padding: 10px;">
            <button type="submit" class="btn btn-primary" [disabled]="!regForm.valid">Submit</button>
          </div>
         
        </div>
        </form>
      </div>
      </div>
  </div>
  <div class="modal-content" *ngIf="issubmitted" >
      <div class="modal-body">
          <button style="margin-left: 50%;" type="button" class="btn-close" (click)="onCloseHandled()"></button>
        <img src="../../assets/success.png" alt="Green checkmark">
        <p>Thank you {{ cname }}! You have successfully registered for {{ curr_cl.name }}</p>
        <p><b>Location: </b>{{ curr_cl.location }}</p>
        <p><b>Date: </b>{{ curr_cl.datetime }}</p>
        <p><b>Total fees: </b>Rs.{{ total_fees }}/-</p>
      </div>
  </div>
   
    </div>
  </div>

